.cepwarper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.514);
  z-index: 20;
}
.cepmain {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 10px 1rem;
  border-radius: 10px;
  background-color: #f0f0f0;
  gap: 1em;
}
.cepbody1 {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  background-color: initial;
  padding: 5px;
}
.cepbody2 {
  font-family: Inter;
  font-size: medium;
  margin-top: 1em;
  font-weight: 600;
}
.cepbody3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.cepbody3 p {
  font-family: Work Sans;
  font-size: small;
  padding-left: 5px;
}
.cepbody3 input {
  background-color: #d9d9d9;
  padding: 10px 10px;
  width: 90%;
  border-radius: 10px;
  border: none;
}
.cepbody4 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  margin-top: auto;
}
.cepbody4 button {
  width: 70px;
  padding: 7px 1em;
  border-radius: 10px;
  border: none;
  outline: none;
}
.cepbody4 :first-child {
  background-color: #d12c2c;
  color: white;
}
.cepbody4 :nth-child(2) {
  background-color: #16f90e4b;
  margin-left: auto;
}
.cepbody4 :last-child {
  background-color: #0d1b2a;
  color: white;
}
.cepbody4 :last-child:disabled {
  opacity: 0.3;
}
.cepbody5 {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  margin-top: auto;
}
.cepbody5 button {
  padding: 7px 10px;
  width: 80px;
  border-radius: 10px;
  border: 1px solid #0d1b2a;
}
.cepbody5 :last-child {
  background-color: #0d1b2a;
  color: white;
}
