.pospaymentwarper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
}
.pospaymentwarper .pospaymentchild2{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.pospaymentwarper .pospaymentchild2 div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pospaymentwarper .pospaymentchild2 div input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0d1b2a21;
}
.pospaymentmethod{
    font-weight: 500;
}
.pospaymentbody{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,300px));
    gap: 10px;
}
.pospaymentbody .poscurrency{
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    padding: 5px;
    height: 100px;
    background-color: #BECEFD;
    border-radius: 10px;
}
.pospaymentbody .poscurrency label{
    display: flex;
    gap: 4px;
    padding: 5px;
}
.paymentimg{
    width: 80px;
    height: 80px;
    padding: 3px;
}
.pospaymentbutton{
    align-self: flex-end;
    display: flex;
    gap: 5px;
    margin-top: 3em;
}
.pospaymentbutton button{
    padding: 7px 10px;
    border-radius: 5px;

}
