.pospaymentwarper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
}
.pospaymentwarper .pospaymentchild2{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.pospaymentwarper .pospaymentchild2 div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.pospaymentwarper .pospaymentchild2 div input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.pospaymentmethod{
    font-weight: 500;
}
.pospaymentbody{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.pospaymentbody .poscurrency{
    display: flex;
    width: 200px;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    padding: 5px;
    height: 100px;
    background-color: #BECEFD;
    border-radius: 10px;
}
.paymentaddbtn{
    display: flex;
    border: 1px solid black;
    height: 100px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    padding: 10px;
    border-radius: 10px;
    background-color: #BECEFD;
}
.paymentaddbtn p{
    font-weight: bold;
    font-family: Inter;
    white-space: wrap;
}
.pospaymentbody .poscurrency label{
    display: flex;
    gap: 4px;
    padding: 5px;
}
.paymentimg{
    width: 80px;
    height: 80px;
    padding: 3px;
}
.pospaymentbutton{
    align-self: flex-end;
    display: flex;
    gap: 5px;
    margin-top: 3em;
}
.pospaymentbutton button{
    padding: 7px 1em;
    border-radius: 5px;
    font-weight: 500;
    font-size: medium;
    outline: none;
    border: 1px solid #0D1B2A;

}
